*{
  margin: 6px;
  padding: 5px;
  box-sizing: border-box;
}
*{
  font-size: 16px;
  font-weight: 400;
  line-height:1.6;
}
body{
  background-color: rgb(161, 233, 158);
}
h1{
  color: rgba(58, 255, 8, 0.795);"
}


